@import 'nav.css';
@import 'footer.css';

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../css/pictures/54163.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    right: 4%;
}

.product-cat{
    padding: 0 14vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumbnail{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: rgb(245, 22, 22);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: 1px solid #002f61;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #007bfe38;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    height: 20px;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin-left: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}
.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.collection-container{
    width: 100%;
    display: flex;
    padding: 20px 0;
    border-top: 1px solid rgb(221, 220, 220);
    
}

.collection{
    position: relative;
    padding: 30px;
    left: 5%;
}
.collection img{
    width: 60%;
    height: 60%;
    object-fit:scale-down;
    
}
.collection p{
    position:absolute;
    top: 55%;
    transform: translateX(-50%,-50%);
    font-size: 40px;
    color: rgb(44, 41, 41);
    text-transform: capitalize;
}

.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 250%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
}
.nxt-btn{
    right: 0;
    transform: rotate(180deg);
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}


